@media screen and (max-width: 448px){
    .container{
        width: 90%;
    }
    .btn:not(:last-child) {
        margin-right: 12px;
    }
}
@media screen and (max-width: 380px){
    .title{
        font-size: 36px;
        margin: 26px 0;
    }
    .watch {
        margin-bottom: 32px;
    }
    .button-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .btn{
        width: 220px;
        margin-right: 0px;
        margin-bottom: 16px;
    }
    .btn:not(:last-child){
        margin-right: 0;
    }
}