@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.app{
    background-color: #222242;
    min-height: 100vh;
    width: 100%;
}
.container{
    margin: 0 auto;
    width: 80%;
    min-height: 100vh;
    max-width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.main{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1 1 auto;
}
.title{
    font-size: 42px;
    color: #fff;

    margin: 40px 0;
}
.watch{
    border: 1px solid #A9A9A9;
    width: 240px;
    height: 240px;
    margin-bottom: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.watch--active{
    border: 1px solid #F6B400;
    box-shadow: 0px 4px 27px -12px #F6B400;
    transition: all .2s ease;
}
.time{
    font-size: 46px;
    color: #fff;
    position: relative;
    width: 58px;
}

.time-min::before{
    content:"min"; 
    position: absolute;
    font-size: 14px;
    color: #A9A9A9;
    left: 9px;
    bottom: -14px; 
}
.time-sec::before{
    content:"sec"; 
    position: absolute;
    font-size: 14px;
    color: #A9A9A9;
    left: 13px;
    bottom: -14px; 
}
.time-msec::before{
    content:"msec"; 
    position: absolute;
    font-size: 14px;
    color: #A9A9A9;
    left: 7px;
    bottom: -14px; 
}
.btn{
    background-color: #222242;
    padding: 10px 38px;
    border: 1px solid #A9A9A9;
    border-radius: 28px;
    color: #fff;
    transition: all .2s ease;
    outline: none;
    cursor: pointer;
}
.btn:not(:last-child){
    margin-right: 20px;
}
.btn:hover{
    border-color: #F6B400;
    color: #F6B400;
    box-shadow: 0px 4px 27px -12px #F6B400;
}
   
.copyright{
    font-size: 14px;
    text-align: center;
    padding: 6px 0;
    color: #cecece;
}